<nav style="box-shadow: 0px 1px 3px rgb(21, 101, 104); background-color: #2a9d8f;" class="navbar fixed-top navbar-expand-lg navbar-dark" >

    <div class="container">
      <a style="font-family: 'Kaushan Script', cursive; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8); font-size: 24px" class="navbar-brand" href="/"><i style="margin-right: 15px;" class="fab fa-blogger"></i>JOURNAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul style="width: 100%; font-size: 24px;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="margin-left: 25px;margin-right: 6px;" aria-current="page" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blogs/new">New</a>
          </li>
        </ul>
        <div class="d-flex">
          <%if(!currentUser){%>
            <a href="/login" class="btn btn-light">Login</a>
          <%}else{%>
            <a style="color: white;">Hello, <%=currentUser.username%></a>
          
            
            <a style="background-color: #264653; color: white;" href="/logout" class="btn btn-light " style="height: 45px;">Logout</a>
          <%}%>
          
        </div>
  
      </div>
    </div>
  </nav>
